version: '3'
services:
  polynote:
    image: quay.io/comp-bio-aging/polynote:master
    environment:
      POLYNOTE_CONFIG: |
        listen:
          host: 0.0.0.0
          port: 8192
    ports:
      - "8192:8192"
    volumes:
      - /data:/data
      - ./notebooks:/opt/polynote/notebooks
      - ./config.yml:/opt/polynote/config.yml
    container_name: polynote
